*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
nav{
    font-family: got;
    letter-spacing: 1.5px;
}
#navegacao{
    background-color: black;
}

h1{
    font-family: 'got' ;
    font-weight: normal;
    color: white;
}
h2{
    font-family: "Josefin Sans";
    font-weight: bold;
}
body{
    background-color: rgba(33,36,41,255);
    
}
@font-face {
    font-family: got;
    src: url(../fontes/got.ttf);

}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

#logo{
    width: 20vw;
}
.got {
    width: 100%;
    height: 100%;
   }
#sobre{
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}
.conteudoSobre{
    display: flex;
    margin: 30px;

}
.txtSobre{
    margin: 30px;
    font-size: 22px;
    text-align: left;
    font-family:"Josefin Sans";
}
.imgSobre{
    margin-bottom: 20px;
    width: 45%;
    height: 45%;
}
#cards{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-top: 30px;
    padding-bottom:30px;

}
.card1{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.card2{

    display: flex;
    flex-direction: row;
    align-self: center;
}
.card3{

    display: flex;
    flex-direction: row;
    align-self: center;
}
.card4{

    display: flex;
    flex-direction: row;
    align-self: center;
}
.card5{

    display: flex;
    flex-direction: row;
    align-self: center;
}
.card6{
    width: 50%;
    align-self: center;
}
.card{
    width: 100%;
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
.txtCards{
    margin-top: 18px;
    font-size: 18px;
    text-align: center;
    font-family:"Josefin Sans";
}
.imgCard{
    width: 95%;
}
.imgCard:hover{
    transition: 350ms cubic-bezier(.20,-1.5,.65,2.50); 
    transform: scale(1.10);
}
.carousel{
    background-color: black;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 22px;
    color: white;
    text-align: center;
    font-family:'Josefin Sans';
}
footer{
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: black;
    padding-bottom: 30px;
}
.txtRodape{
    padding-top: 30px;
    color: white;
    font-size: 1.2em;
    font-family: "Josefin Sans";
    line-height: 1em;
    
}
#contatos{
    display: flex;
    font-size: 1.5em;
    color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-family: "Josefin Sans";
    margin-top: 30px;
    background-color: black;
}
.imagem{
    width: 90%;    
}
.sbr{
    width: 14%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    align-items: center;
    text-align: center;
}
.linkedin{
    width: 25px;
}
.linkedin:hover{
    transition: 350ms cubic-bezier(.20,-1.5,.65,2.50); 
    transform: scale(1.15);
}
@media (max-width: 630px){

    .conteudoSobre{
        align-items: center;
        display: flex;
        flex-direction: column;
        }
        .linkedin{
            width: 15px;
        }

        #contatos{
        font-size: 1em;
        }
        #cards{
            display: flex;
            align-items: center;
            flex-direction: column;
        }       
        .txtRodape{
            font-size: 1.2em;
        }
        .card1{
            display: flex;
            flex-direction: column;
        }
        
        .card2{
            display: flex;
            flex-direction: column;
        }
        .card3{
            display: flex;
            flex-direction: column;
        }
        .card4{
            display: flex;
            flex-direction: column;
        }
        .card5{
            display: flex;
            flex-direction: column;
        }
        .card6{
            width: 95%;
        }
}